*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 100px;
    position: fixed;
    height: 100vh;
}


.logo{
    padding-bottom: 15px;
}

.nav-menu a {
    padding-left: 15px;
}
.top-nav,.bottom-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-part{
    padding-left: 180px;
    background-color: wheat;
    height: 100vh;
    padding-top: 20px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

.top-icons{
    display: flex;
    gap: 30px;
    padding-right: 30px;
}

.search-bar{
    width: 300px;
    font-size: 20px;
    height: 50px;
}
.search-bar::placeholder{
    padding-left: 10px;
}

#date{
    padding-top: 15px;
    font-size: 20px;
}


